<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.employmentcenter3/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.employmentcenter3.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="EmploymentCenter.browse"
              caption="msg://com.company.employmentcenter3.screen.employmentcenter/employmentCenterBrowse.menu"/>
        <item screen="Citizen.browse" caption="msg://com.company.employmentcenter3.screen.citizen/citizenBrowse.menu"/>
        <item screen="Vacancy.browse" caption="msg://com.company.employmentcenter3.screen.vacancy/vacancyBrowse.menu"/>
        <item screen="RegistrationCard.browse"
              caption="msg://com.company.employmentcenter3.screen.registrationcard/registrationCardBrowse.menu"/>

    </menu>

</menu-config>